{% comment %}

  This snippet is used for rendering the icons

  icon - "string" *required,
  style - "string" optional (filled or outlined)

  Usage:

  {%- render 'icon',
      icon: your_id,
      style: your_id
  -%}

{% endcomment %}

{% style %}
  .fa, .far {
    color: var(--color-primary-foreground, #0B1A26);
  }
{% endstyle %}

{% unless icon == "empty" %}
  <span class="icon">
    <i class="{% if style != blank %}{{ style }}{% else %}fa{% endif %} fa-{{- icon -}}" aria-hidden="true"></i>
  </span>
{% endunless %}
