{%- if section.blocks.size > 0 -%}

  {{ "collections.css" | asset_url | stylesheet_tag }}

  {%- assign tag                   = section.settings.tag -%}
  {%- assign title                 = section.settings.title -%}
  {%- assign title_bg              = section.settings.title_bg -%}
  {%- assign description           = section.settings.description -%}
  {%- assign view_all              = section.settings.view_all -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign image_placeholder     = settings.image_placeholder -%}
  {%- assign url                   = routes.collections_url -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 60px;
      {%- when 'medium' -%}
        --padding-top: 80px;
      {%- when 'large' -%}
        --padding-top: 96px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 60px;
      {%- when 'medium' -%}
        --padding-bottom: 80px;
      {%- when 'large' -%}
        --padding-bottom: 96px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 24px;
      {%- when 'medium' -%}
        --padding-top-mobile: 40px;
      {%- when 'large' -%}
        --padding-top-mobile: 60px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 24px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 40px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 60px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="collections__wrapper{% if padding_top != blank or padding_top_mobile != blank %} collections__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} collections__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="collections__container container">
      {%- if tag != blank or title != blank or description != blank or title_bg != blank or view_all != blank -%}
        {%- render 'section-header',
            tag: tag,
            title: title,
            description: description,
            background: title_bg,
            button: view_all,
            url: url
        -%}
      {%- endif -%}

      {%- render 'collections-grid',
          items: section.blocks,
          items_type: "blocks",
          placeholder: image_placeholder
      -%}

    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Collections",
    "description": "Display a list of collections.",
    "tag": "section",
    "class": "collections",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tag",
        "default": "Our collections"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "We can service you in each category"
      },
      {
        "type": "text",
        "id": "title_bg",
        "label": "Title on the background",
        "default": "Category"
      },
      {
        "type": "contentEditor",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "text",
        "id": "view_all",
        "label": "Label of button",
        "info": "Note: This button redirects the user to the collections page. Leave label blank to disable the button"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "templates": ["index", "product", "collection", "page"]
  }
{% endschema %}
