{%- assign show_datepicker = section.settings.show_datepicker -%}

{%- if show_datepicker -%}
  {{ "hero.css" | asset_url | stylesheet_tag }}

  {%- assign image              = section.settings.image -%}
  {%- assign color_palette      = section.settings.color_palette -%}
  {%- assign padding_top        = section.settings.padding_top -%}
  {%- assign padding_top_mobile = section.settings.padding_top_mobile -%}

  {%- render 'background-accent', color_palette: color_palette, settings: settings -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'none' -%}
        --padding-top: 0;
      {%- when 'small' -%}
        --padding-top: 16px;
      {%- when 'medium' -%}
        --padding-top: 24px;
      {%- when 'large' -%}
        --padding-top: 48px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'none' -%}
        --padding-top-mobile: 0;
      {%- when 'small' -%}
        --padding-top-mobile: 16px;
      {%- when 'medium' -%}
        --padding-top-mobile: 24px;
      {%- when 'large' -%}
        --padding-top-mobile: 48px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div class="hero__wrapper section-with-date-picker{% if color_palette != blank %} palette-{{ color_palette }}{%- endif -%}" style="{{- variables | escape -}}">
    <div class="hero__date-picker date-picker{% if padding_top != blank or padding_top_mobile != blank %} hero__date-picker--padding-top{%- endif -%}">
      {%- render 'date-picker',
          key: section.key,
          color_palette: color_palette,
          background: background_accent,
          position: "bottom",
          title: nil,
          settings: settings
      -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Engage visitors by giving great first impression",
    "templates": ["product"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "color_palette",
        "label": "Color palette",
        "options": [
          {
            "value": "one",
            "label": "Color set 1"
          },
          {
            "value": "two",
            "label": "Color set 2"
          },
          {
            "value": "three",
            "label": "Color set 3"
          }
        ],
        "default": "two"
      },
      {
        "type": "checkbox",
        "id": "show_datepicker",
        "default": true,
        "label": "Show date picker"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      }
    ]
  }
{% endschema %}
