{{ "collections.css" | asset_url | stylesheet_tag }}

{%- assign tag                   = section.settings.tag -%}
{%- assign title                 = section.settings.title -%}
{%- assign title_bg              = section.settings.title_bg -%}
{%- assign description           = section.settings.description -%}
{%- assign limit                 = section.settings.limit -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign image_placeholder     = settings.image_placeholder -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 50px;
    {%- when 'medium' -%}
      --padding-top: 80px;
    {%- when 'large' -%}
      --padding-top: 112px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 50px;
    {%- when 'medium' -%}
      --padding-bottom: 80px;
    {%- when 'large' -%}
      --padding-bottom: 112px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 40px;
    {%- when 'large' -%}
      --padding-top-mobile: 60px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 60px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div
  class="collections__wrapper{% if padding_top != blank or padding_top_mobile != blank %} collections__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} collections__wrapper--padding-bottom{%- endif -%}"
  style="{{- variables | escape -}}"
>
  <div class="collections__container container">
    {%- if tag != blank or title != blank or description != blank or title_bg != blank or view_all != blank -%}
      {%- render 'section-header',
          tag: tag,
          title: title,
          description: description,
          background: title_bg
      -%}
    {%- endif -%}

    {%- paginate collections by limit -%}
      {%- if collections.size > 0 -%}

        {%- render 'collections-grid',
            items: collections,
            items_type: "collections",
            placeholder: image_placeholder
        -%}

        {%- if paginate.pages > 1 -%}
          {%- include "pagination" -%}
        {%- endif -%}

      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
  {
    "name": "Collections",
    "tag": "section",
    "class": "collections",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tag",
        "default": "Our collections"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "We can service you in each category"
      },
      {
        "type": "text",
        "id": "title_bg",
        "label": "Title on the background",
        "default": "Category"
      },
      {
        "type": "contentEditor",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Collections limit for pagination",
        "min": 4,
        "max": 24,
        "default": 8,
        "info": "Note: Use positive numbers only. Min number is 4, max number is 24"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "templates": ["list-collections"],
    "unique": true
  }
{% endschema %}
