.accordion__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 40px);
}

.accordion__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 40px);
}

.accordion__container {
  max-width: calc(var(--max-width-narrow) + var(--horizontal-padding, 16px) * 2);
}

.accordion .section-header__text {
  padding: 0 0 65px;
}

.accordion .palette-one .accordion__heading {
  color: var(--color-primary, #0B1A26);
}
.accordion .palette-two .accordion__heading {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-one.accordion__wrapper {
  background: var(--background-primary, #FFFFFF);
  color: var(--color-third, #0B1A2666);
}

.palette-two.accordion__wrapper {
  background: var(--background-primary-2, #0B1A26);
  color: var(--color-third-2, #FFFFFF66);
}

@media (min-width: 992px) {
  .accordion__wrapper--padding-top {
    padding-top: var(--padding-top, 40px);
  }

  .accordion__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 40px);
  }
}
