.carousel {
  height: 100%;
  position: relative;
}

.carousel *::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.carousel *::-webkit-scrollbar-track {
  background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
  background: transparent;
}

.carousel__wrapper {
  margin: 0 -16px;
  padding-bottom: 95px;
  width: calc(100% + 32px);
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 16px 0 0;
  scroll-behavior: smooth !important;
  -ms-overflow-style: none;
  display: flex;
  align-items: stretch;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.carousel__inner {
  padding: 0 0 0 16px;
  height: 100%;
}

.carousel__item {
  position: relative;
  min-width: var(--slide-width-mobile);
  max-width: var(--slide-width-mobile);
  transition: all calc(var(--animation-duration, 200ms) + 200ms) var(--transition-function-ease);
  padding: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.carousel__item:last-child {
  min-width: calc(var(--slide-width-mobile) + 16px);
  max-width: calc(var(--slide-width-mobile) + 16px);
}

.carousel__item:last-child .carousel__inner {
  padding-right: 16px;
}

.carousel__pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin: 0 -4px;
  z-index: 1;
}

.carousel__pagination.hidden {
  display: none;
}

.carousel__dot {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 4px 20px;
  width: 8px;
  height: 8px;
  background: var(--color-primary-30, #0B1A264D);
  transition: all var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.carousel__dot.active {
  background: var(--color-primary, #0B1A26);
}

.carousel__dot.hidden {
  display: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 -8px;
  display: flex;
  z-index: 1;
}

.carousel__navigation.hidden {
  display: none;
}

.carousel__btn {
  margin: 0 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 1px solid var(--color-border, #E1E4E8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-indent: -9999px;
  transition: border var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.carousel__btn:hover {
  border-color: var(--color-primary, #0B1A26);
}

.carousel__btn svg {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.carousel__btn.prev svg {
  transform: rotate(180deg);
}

.carousel__btn path {
  fill: var(--color-primary, #0B1A26);
  transition: all var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.carousel .product-card {
  height: 100%;
}

.carousel__fluid .carousel__item,
.carousel__fluid .carousel__item:last-child {
  height: 100%;
}

.carousel__fluid .carousel__item:not(:first-child) {
  display: none;
}

.carousel__fluid .carousel__inner,
.carousel__fluid .carousel__item:last-child .carousel__inner {
  padding: 0;
}

.carousel__fluid .carousel__item.show {
  position: static;
  opacity: 1;
  visibility: visible;
  transition: visibility calc(var(--animation-duration, 400ms) + 200ms) var(--transition-function-ease-out),
        opacity calc(var(--animation-duration, 400ms) + 200ms) var(--transition-function-ease-out);
}

.carousel__fluid .carousel__item.hide {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: visibility calc(var(--animation-duration, 400ms) + 200ms) var(--transition-function-ease-in),
        opacity calc(var(--animation-duration, 400ms) + 200ms) var(--transition-function-ease-in);
}

.carousel__fluid .carousel__navigation {
  bottom: 18px;
  right: auto;
  left: 50%;
  width: 100%;
  max-width: var(--max-width);
  transform: translate(-50%, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--horizontal-padding);
  margin: 0;
}

.carousel__fluid .carousel__btn {
  position: relative;
  background: var(--background-primary-08, #FFFFFF14);
  border-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 0;
  margin: 0;
  z-index: 2;
  line-height: var(--line-height-xs, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__fluid .carousel__btn path {
  fill: var(--background-primary, #FFFFFF);
}

.carousel__fluid .carousel__btn.prev {
  margin-right: 24px;
}

.carousel__fluid .carousel__btn.prev svg {
  transform: rotate(180deg);
}

.carousel__fluid .carousel__btn:hover {
  border-color: var(--background-primary, #FFFFFF);
}

.carousel__fluid .carousel__pagination {
  bottom: 31px;
  left: 50%;
  z-index: 2;
  max-width: calc(var(--max-width) - var(--horizontal-padding) * 3 - 104px * 2);
  transform: translate(-50%, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel__fluid .carousel__dot {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: currentColor;
  position: relative;
  opacity: 0.3;
  margin-bottom: 3px;
  background: var(--background-primary, #FFFFFF);
}

.carousel__fluid .carousel__dot:hover,
.carousel__fluid .carousel__dot.active {
  opacity: 1;
  background: var(--background-primary, #FFFFFF);
}

.carousel__fluid .carousel__counter {
  color: var(--background-primary, #FFFFFF);
  position: absolute;
  z-index: 0;
  bottom: 28px;
  right: 50%;
  width: 100%;
  max-width: var(--max-width);
  transform: translate(50%, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  padding: 0 var(--horizontal-padding);
}

.carousel__fluid .carousel__divider {
  margin: 0 16px;
}

.carousel__fluid .carousel__divider,
.carousel__fluid .carousel__divider + span {
  opacity: 0.4;
}

.carousel__fluid.carousel.initialized .carousel__item,
.carousel__fluid.carousel.initialized .carousel__item:not(:first-child) {
  display: block;
}

.carousel.carousel__fluid.carousel__fade-effect .carousel__wrapper {
  overflow: hidden;
}

@media (min-width: 992px) {
  .carousel__wrapper {
    margin: 0 -32px;
    width: calc(100% + 64px);
    scroll-padding: 0 32px 0 0;
  }

  .carousel__inner {
    padding: 0 0 0 32px;
  }

  .carousel__item {
    min-width: var(--slide-width);
    max-width: var(--slide-width);
  }

  .carousel__item:last-child {
    min-width: calc(var(--slide-width) + 32px);
    max-width: calc(var(--slide-width) + 32px);
  }

  .carousel__item:last-child .carousel__inner {
    padding-right: 32px;
  }

  .carousel__fluid .carousel__item,
  .carousel__fluid .carousel__item:last-child {
    min-width: var(--slide-width);
    max-width: var(--slide-width);
  }

  .carousel__fluid .carousel__navigation {
    bottom: 33px;
  }

  .carousel__fluid .carousel__dot {
    width: 48px;
    height: 2px;
    border-radius: 0;
  }

  .carousel__fluid .carousel__counter {
    bottom: 33px;
  }
}

@media (min-width: 1273px) {
  .carousel__wrapper {
    margin: 0;
    width: 100%;
    scroll-padding: 0;
  }

  .carousel__inner {
    padding: 0 32px 0 0;
  }

  .carousel__item:last-child {
    min-width: calc(var(--slide-width) - 32px);
    max-width: calc(var(--slide-width) - 32px);
  }

  .carousel__item:last-child .carousel__inner {
    padding-right: 0;
  }
}
