.collection-page {
  width: 100%;
}

.collection-page__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 24px);
}

.collection-page__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 24px);
}

.collection-page__container--with-sidebar {
  display: grid;
  grid-template-columns: 1fr;
}

.collection-page__sidebar-navigation {
  display: none;
}

.collection-page__header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
  z-index: 3;
}

.collection-page__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 18px;
  justify-content: center;
  padding: 0 0 44px;
}

.collection-page .product-card {
  min-width: auto;
}

.sorting {
  position: relative;
  font-size: 16px;
  font-weight: var(--font-weight-semibold, 600);
  letter-spacing: -0.01em;
}

.sorting__opener {
  color: var(--color-accent-background, #F4B841);
  cursor: pointer;
  padding-right: 2px;
}

.sorting__opener svg {
  margin-left: 14px;
  transform:rotate(90deg);
}

.sorting__options-list {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animation-duration, 200ms) var(--transition-function-ease);
  display: flex;
  flex-direction: column;
  margin: 5px 0 0;
  padding: 6px 0;
  background: var(--color-primary-background, #FFFFFF);
  border: 1px solid var(--color-border-secondary, #E1E4E8);
}

.sorting__options-item {
  padding: 6px 10px;
}

.sorting__option {
  display: block;
  cursor: pointer;
}

[id="sorting-opener"]:checked ~ .sorting__options-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  display: block !important;
}

@media (min-width: 768px) {
  .collection-page__sidebar-navigation {
    display: block;
  }

  .collection-page__sidebar-navigation--mobile {
    display: none;
  }

  .collection-page__products {
    justify-content: start;
    gap: 24px;
  }

  .collection-page__container--with-sidebar {
    grid-template-columns: 200px 1fr;
    gap: clamp(10px, 5%, 60px);
  }
}

@media (min-width: 992px) {
  .collection-page__wrapper--padding-top {
    padding-top: var(--padding-top, 24px);
  }

  .collection-page__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 24px);
  }

  .collection-page__container--with-sidebar {
    grid-template-columns: 290px 1fr;
  }
}

@media (min-width: 1080px) {
  .collection-page__products {
    gap: 20px 32px;
    grid-template-columns: repeat(var(--grid-element, 3), minmax(210px, 1fr));
  }
}


