.contacts__wrapper {
  line-height: var(--line-height-lg, 1.5);
}

.contacts__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 70px);
}

.contacts__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 70px);
}

.contacts__columns {
  display: grid;
  gap: 16px;
}

.contacts__col {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
}

.contacts__image-wrapper {
  flex: 0 0 34px;
  overflow: hidden;
}

.contacts__image-wrapper svg,
.contacts__image-wrapper img {
  max-height: 100%;
  max-width: 100%;
}

.contacts__text {
  flex: 1 0 auto;
}

.contacts__text:not(:first-child) {
  padding-top: 28px;
}

.contacts__title {
  color: inherit;
  margin-bottom: 15px;
}

.contacts__description {
  padding: 0 0 25px;
}

.contacts__email,
.contacts__phone,
.contacts__address address {
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-semibold, 600);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all var(--animation-duration, 200ms) var(--transition-function-ease-out);
}

.contacts__email:hover,
.contacts__phone:hover {
  opacity: 0.7;
}

.palette-one.contacts__wrapper {
  background: var(--color-fourth, #0B1A2626);
}

.palette-one .contacts__col {
  color: var(--color-primary, #0B1A26);
  background: var(--background-primary, #FFFFFF);
  border-color: var(--color-fourth, #0B1A2626);
}

.palette-one .contacts__image-wrapper path {
  fill: var(--background-accent, #F4B841);
}

.palette-one .contacts__description {
  color: var(--color-secondary, #4E5D78);
}

.palette-two.contacts__wrapper {
  background: var(--background-primary-2-60, #0B1A2699);
}

.palette-two .contacts__col {
  color: var(--color-primary-2, #FFFFFF);
  background: var(--background-primary-2, #0B1A26);
  border-color: var(--color-fourth-2, #FFFFFF47);
}

.palette-two .contacts__image-wrapper path {
  fill: var(--background-accent-2, #F4B841);
}

.palette-two .contacts__description {
  color: var(--color-secondary-2, #4E5D78);
}

@media (min-width: 992px) {
  .contacts__wrapper--padding-top {
    padding-top: var(--padding-top, 112px);
  }

  .contacts__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 112px);
  }

  .contacts__columns {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (min-width: 1200px) {
  .contacts__columns {
    gap: 48px;
  }
}
