.contact-form__wrapper {
  position: relative;
  line-height: var(--line-height-lg, 1.5);
  color: var(--color-third-foreground, #B2B4B8);
  background: var(--color-primary-foreground, #0B1A26);
}

.contact-form__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 40px);
}

.contact-form__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 40px);
}

.contact-form__container {
  position: relative;
  z-index: 2;
}

.contact-form__inner--grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
}

.contact-form__content {
  display: flex;
  flex-direction: column;
  align-items: var(--justify-content, left);
}

.contact-form__heading {
  font-size: 48px;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-sm, 1.2);
  color: var(--color-primary-background, #FFFFFF);
  margin-bottom: 22px;
  text-align: var(--text-align, left);
}

.contact-form__heading--sm {
  font-size: var(--font-size-h3, 40px);
}

.contact-form__heading--md {
  font-size: var(--font-size-h2, 48px);
}

.contact-form__heading--lg {
  font-size: var(--font-size-h1, 56px);
}

.contact-form__text {
  text-align: var(--text-align, left);
}

.contact-form__button {
  margin-top: 30px;
}

.contact-form__holder.no-image {
  position: relative;
  aspect-ratio: 16 / 9;
  background: var(--color-image-placeholder-lt, #FFFFFF0F);
}

.contact-form__image {
  width: 100%;
}

.contact-form__button.button--outlined {
  color: var(--color-primary-background, #FFFFFF);
}

.contact-form__background,
.contact-form__background-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.contact-form__background svg {
  min-height: 100%;
  opacity: 0.1;
}

.contact-form__background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: var(--overlay-direction, 0);
  background: radial-gradient(63.68% 231.83% at 28.65% 40.5%, var(--color-primary-foreground, #0B1A26) 0%, var(--color-primary-foreground-rgb) 100%);
}

.contact-form__background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  left: var(--left-overlay);
  right: var(--right-overlay);
  background: linear-gradient(to var(--direction-overlay), var(--color-primary-foreground-rgb, #0B1A2600) 0%, var(--color-primary-foreground-rgb-dec, #0B1A261A) 20%, var(--color-primary-foreground-rgb-half, #0B1A2673) 40%, var(--color-primary-foreground, #0B1A26) 100%);
  z-index: 1;
}

.contact-form__background-image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
  opacity: 0.3;
}

@media (min-width: 992px) {
  .contact-form__wrapper--padding-top {
    padding-top: var(--padding-top, 70px);
  }

  .contact-form__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 70px);
  }

  .contact-form__inner--grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  .contact-form__content {
    justify-content: var(--align-items, flex-start);
    padding: 0 0 var(--padding-bottom, 0);
  }

  .contact-form__holder {
    display: flex;
    flex-direction: column;
    justify-content: var(--image-align, flex-start);
    order : var(--order, 1);
  }

  .contact-form__image-wrapper {
    position: relative;
  }

  .contact-form__holder.no-image:after,
  .contact-form__image-wrapper:after {
    content: "";
    position: absolute;
    top: 30px;
    left: var(--left, 0);
    right: var(--right, 0);
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-accent-background, #F4B841);
    z-index: -1;
  }

  .contact-form__holder.no-image {
    aspect-ratio: auto;
  }
}

@media (min-width: 992px) {
  .contact-form__inner--grid {
    gap: 76px;
  }
}
