.cta {
  position: relative;
  overflow: hidden;
}

.cta__wrapper {
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height-lg, 1.5);
}

.cta__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 56px);
}

.cta__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 56px);
}

.cta__container {
  position: relative;
  z-index: 1;
}

.cta__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.cta__image-wrapper img {
  object-fit: cover;
  max-width: none;
  height: 100%;
  width: 100%;
  display: block;
}

.cta__image-wrapper svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-height: 100%;
  min-width: 100%;
}

.cta__image-wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: -120px;
  right: 0;
}

.palette-one.cta__wrapper {
  background: var(--background-accent, #F4B841);
  color: var(--color-primary, #0B1A26);
}

.palette-one .cta__image-wrapper path {
  fill: var(--color-primary, #0B1A26);
}

.palette-one .cta__image-wrapper:after {
  background: linear-gradient(180.44deg, var(--background-accent, #F4B841) 51.3%, var(--background-accent-00, #F4B84100) 81.06%);
}

.palette-two.cta__wrapper {
  background: var(--background-accent-2, #F4B841);
  color: var(--color-primary-2, #FFFFFF);
}

.palette-two .cta__image-wrapper path {
  fill: var(--color-primary-2, #FFFFFF);
}

.palette-two .cta__image-wrapper:after {
  background: linear-gradient(180.44deg, var(--background-accent-2, #F4B841) 51.3%, var(--background-accent-2-00, #F4B84100) 81.06%);
}

@media (min-width: 992px) {
  .cta__wrapper--padding-top {
    padding-top: var(--padding-top, 112px);
  }

  .cta__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 112px);
  }

  .cta__image-wrapper:after {
    bottom: -160px;
  }
}
