.footer {
  font-size: 14px;
}

.footer__wrapper {
  color: var(--color-primary-foreground, #0B1A26);
  background-color: var(--color-primary-background, #FFFFFF);
  border-top: 1px solid var(--color-border-secondary, #E1E4E8);
}

.footer__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.footer__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.footer__top {
  padding: 0 0 13px;
}

.footer__logo-wrapper {
  max-width: 150px;
  padding: 0 0 23px;
}

.footer__logo-wrapper img {
  width: 100%;
}

.footer__logo-text {
  color: var(--color-primary-foreground, #0B1A26);
  word-break: break-word;
}

.footer__menu-heading {
  font-size: 16px;
  display: block;
  padding: 0 0 18px;
  color: var(--color-primary-foreground, #0B1A26);
  font-weight: var(--font-weight-semibold, 600);
  text-align: var(--footer-menu-align, left);
}

.footer__menu-list {
  padding: 0 0 27px;
  text-align: var(--footer-menu-align, left);
  color: var(--color-secondary-foreground, #4E5D78);
}

.footer__menu-link {
  padding: 10px 0;
  color: currentColor;
}

.footer__menu-link:hover {
  color: var(--color-accent-background-hover, #E5AD3D);
}

.footer__menu-link:active {
  color: var(--color-accent-background-active, #D6A239);
}

.footer__bottom {
  border-top: 1px solid var(--color-border-secondary, #E1E4E8);
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0 40px;
}

.footer__copy {
  color: var(--color-third-foreground, #B2B4B8);
}

.footer__icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0 30px;
  color: var(--color-primary-foreground, #0B1A26);
}

.footer__social {
  font-size: var(--footer-social-size, 21px);
}

.footer__social .social-networks {
  display: flex;
  margin: 0 calc(-1 * var(--footer-social-spacing, 6px));
}

.footer__social .social-networks__item {
  margin: 0 var(--footer-social-spacing, 6px);
}

.footer__social .social-networks__link:hover {
  color: var(--color-accent-background-hover, #E5AD3D);
}

.footer__social .social-networks__link:active {
  color: var(--color-accent-background-active, #D6A239);
}

.footer__payments {
  font-size: var(--footer-payment-size, 32px);
}

.footer__payments .payment {
  margin: 0 calc(-1 * var(--footer-payment-spacing, 6px));
  padding: 0 16px 0 0;
}

.footer__payments i {
  margin: 0 var(--footer-payment-spacing, 6px);
}

.footer__bottom-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px -12px;
}

.footer__bottom-menu-item {
  padding: 0 12px;
}

.footer__bottom-menu-link {
  text-decoration: underline;
  padding: 5px 0;
}

.footer__bottom-menu-link:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .footer__wrapper--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .footer__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .footer__top {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0 52px;
  }

  .footer__top--with-logo {
    grid-template-columns: max-content 1fr;
    gap: 0px 60px;
  }

  .footer__menu-wrapper {
    width: 100%;
    padding: 0 15px;
  }

  .footer__menu {
    display: flex;
    margin: 0 -15px;
  }

  .footer__menu-heading {
    text-align: left;
  }

  .footer__menu-list {
    text-align: left;
  }

  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .footer__bottom--copyright-hidden:before{
    content: "";
    display: inline;
  }

  .footer__copy {
    display: flex;
    align-items: center;
  }

  .footer__copy p {
    margin-right: 25px;
  }

  .footer__icons {
    padding: 27px 0 21px;
  }

  .footer__social {
    padding: 0 0 0 16px;
  }

  .footer__payments .payment {
    padding: 0;
  }

  .footer__bottom-menu {
    margin: 0 25px 0 0;
  }
}
