.form__inner {
  width: 100%;
}

.form__inner form {
  max-width: 582px;
  margin: 30px auto 0;
}

.form__title {
  font-size: var(--font-size-h2, 48px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-sm, 1.2);
  margin-bottom: 22px;
}

.form__label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 9px;
}

.form__field,
.form__textarea {
  display: block;
  width: 100%;
  padding: 14px 12px;
  font-size: inherit;
  border: 1px solid transparent;
  margin-bottom: 22px;
}

.form__textarea {
  min-height: 182px;
  margin-bottom: 22px;
  resize: none;
}

.form__field:focus,
.form__field:focus-visible,
.form__textarea:focus,
.form__textarea:focus-visible {
  outline: none;
}

.form__field.error,
.form__textarea.error {
  border-color: var(--color-red, #C23434);
}

.form__field.error::placeholder,
.form__textarea.error::placeholder {
  color: var(--color-red, #C23434);
}

.form__info {
  margin: 0 0 30px;
}

.form__info p {
  display: flex;
  align-items: center;
}

.form__info i {
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}

.form__submit {
  margin-bottom: calc(-1 * var(--button-margin-bottom, 16px));
}

.form__submit button {
  width: 100%;
}

.palette-one .form__label {
  color: var(--color-primary, #0B1A26);
}

.palette-one .form__field,
.palette-one .form__textarea {
  color: var(--color-primary, #0B1A26);
  background: var(--background-primary, #FFFFFF);
  border-color: var(--color-border, #0B1A2626);
}

.palette-one .form__field::placeholder,
.palette-one .form__textarea::placeholder {
  color: var(--color-placeholder, #0B1A2659);
}

.palette-one .form__field:focus,
.palette-one .form__field:focus-visible,
.palette-one .form__textarea:focus,
.palette-one .form__textarea:focus-visible {
  border-color: var(--background-accent, #F4B841);
}

.palette-one .form__info .success i {
  color: var(--color-outline, #F4B841);
}

.palette-one .form__info .error,
.palette-one .form__info .error i {
  color: var(--color-red, #C23434);
}

.palette-two .form__label {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-two .form__field,
.palette-two .form__textarea {
  color: var(--color-primary-2, #FFFFFF);
  background: var(--background-primary-2, #0B1A26);
  border-color: var(--color-border-2, #FFFFFF47);
}

.palette-two .form__field::placeholder,
.palette-two .form__textarea::placeholder {
  color: var(--color-placeholder-2, #FFFFFF59);
}

.palette-two .form__field:focus,
.palette-two .form__field:focus-visible,
.palette-two .form__textarea:focus,
.palette-two .form__textarea:focus-visible {
  border-color: var(--background-accent-2, #F4B841);
}

.palette-two .form__info .success i {
  color: var(--color-outline-2, #F4B841);
}

.palette-two .form__info .error,
.palette-two .form__info .error i {
  color: var(--color-begonia, #FF6E6E);
}

@media (min-width: 992px) {
  .form__inner form {
    margin: 30px 0 0;
  }

  .form__submit button {
    width: auto;
  }
}
