.form__inner {
  width: 100%;
}

.form__inner form {
  max-width: 582px;
  margin: 30px auto 0;
}

.form__title {
  font-size: 48px;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-sm, 1.2);
  margin-bottom: 22px;
}

.form__title--sm {
  font-size: var(--font-size-h3, 40px);
}

.form__title--md {
  font-size: var(--font-size-h2, 48px);
}

.form__title--lg {
  font-size: var(--font-size-h1, 56px);
}

.form__label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 9px;
}

.form__field,
.form__textarea {
  display: block;
  width: 100%;
  padding: 14px 12px;
  font-size: inherit;
  border: 1px solid transparent;
  margin-bottom: 22px;
}

.form__textarea {
  min-height: 182px;
  margin-bottom: 22px;
  resize: none;
}

.form__field:focus,
.form__field:focus-visible,
.form__textarea:focus,
.form__textarea:focus-visible {
  outline: none;
}

.form__field.error,
.form__textarea.error {
  border-color: var(--color-red, #C23434);
}

.form__field.error::placeholder,
.form__textarea.error::placeholder {
  color: var(--color-red, #C23434);
}

.form__checkbox {
  opacity: 0;
  margin-left: 4px;
}

.form__approval {
  padding: 0 0 30px;
}

.form__approval .form__label {
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: -23px;
}

.form__approval .form__label a {
  text-decoration: underline;
}

.form__approval .form__label a:hover {
  text-decoration: none;
}

.form__approval .form__label:before {
  content:'';
  appearance: none;
  border: 1px solid transparent;
  padding: 9px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  margin-right: 10px;
}

.form__checkbox:checked ~ .form__label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form__info {
  margin: 0 0 30px;
}

.form__info p {
  display: flex;
  align-items: center;
}

.form__info i {
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}

.form__submit button {
  width: 100%;
}

.palette-one .form__label {
  color: var(--color-primary, #0B1A26);
}

.palette-one .form__field,
.palette-one .form__textarea {
  color: var(--color-primary, #0B1A26);
  background: var(--background-primary, #FFFFFF);
  border-color: var(--color-border, #0B1A2626);
}

.palette-one .form__field::placeholder,
.palette-one .form__textarea::placeholder {
  color: var(--color-placeholder, #0B1A2659);
}

.palette-one .form__field:focus,
.palette-one .form__field:focus-visible,
.palette-one .form__textarea:focus,
.palette-one .form__textarea:focus-visible {
  border-color: var(--background-accent, #F4B841);
}

.palette-one .form__approval .form__label:before {
  border-color: var(--color-border, #0B1A2626);
  background: var(--background-primary, #FFFFFF);
}

.palette-one .form__checkbox:checked ~ .form__label:after {
  border-color: var(--color-accent, #0B1A26);
}

.palette-one .form__approval .form__checkbox:checked ~ .form__label:before {
  border-color: var(--background-accent, #F4B841);
  background: var(--background-accent, #F4B841);
}

.palette-one .form__info .success i {
  color: var(--color-outline, #F4B841);
}

.palette-one .form__info .error,
.palette-one .form__info .error i {
  color: var(--color-red, #C23434);
}

.palette-two .form__label {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-two .form__field,
.palette-two .form__textarea {
  color: var(--color-primary-2, #FFFFFF);
  background: var(--background-primary-2, #0B1A26);
  border-color: var(--color-border-2, #FFFFFF47);
}

.palette-two .form__field::placeholder,
.palette-two .form__textarea::placeholder {
  color: var(--color-placeholder-2, #FFFFFF59);
}

.palette-two .form__field:focus,
.palette-two .form__field:focus-visible,
.palette-two .form__textarea:focus,
.palette-two .form__textarea:focus-visible {
  border-color: var(--background-accent-2, #F4B841);
}

.palette-two .form__approval .form__label:before {
  border-color: var(--color-border-2, #FFFFFF47);
  background: var(--background-primary-2, #0B1A26);
}

.palette-two .form__checkbox:checked ~ .form__label:after {
  border-color: var(--color-accent-2, #0B1A26);
}

.palette-two .form__approval .form__checkbox:checked ~ .form__label:before {
  border-color: var(--background-accent-2, #F4B841);
  background: var(--background-accent-2, #F4B841);
}

.palette-two .form__info .success i {
  color: var(--color-outline-2, #F4B841);
}

.palette-two .form__info .error,
.palette-two .form__info .error i {
  color: var(--color-begonia, #FF6E6E);
}

@media (min-width: 992px) {
  .form__inner form {
    margin: 30px 0 0;
  }

  .form__submit button {
    width: auto;
  }
}
