.header {
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid rgba(var(--color-white-rgb), 0.2);
  margin-bottom: -1px;
}

.header--sticky {
  position: fixed;
  top: var(--announcement-bar-height, 32px);
  left: 0;
  right: 0;
  transform: translateY(var(--header-transform));
	transition: transform var(--transition-duration-2) var(--transition-function-ease-out);
}

.header__content {
  background-color: var(--color-header-background, #0E1B2A);
  color: var(--color-header-foreground, #FFFFFF);
}

.header__content--padding-top {
  padding-top: var(--padding-top-mobile, 16px);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 16px);
}

.header__content h1 {
  color: inherit;
}

.header__content-inner {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas:
    "column-1 column-3 column-2";
  gap: 0px 15px;
  align-items: center;
}

.header__logo-wrapper {
  grid-area: column-1;
}

.header__nav-wrapper {
  grid-area: column-2;
  height: 100%;
}

.header__nav {
  font-weight: var(--font-weight-regular);
}

.header__nav-list {
  justify-content: var(--justify-content);
}

.header__links {
  grid-area: column-3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

.header__logo-image {
  max-width: 160px;
  max-height: 40px;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 17px 0 0;
  position: relative;
}

.header__search-trigger {
  color: inherit;
  cursor: pointer;
  transition: all var(--transition-duration-2) var(--transition-function-ease-in-out);
}

.header__search-wrapper {
  visibility: hidden;
	pointer-events: none;
	margin: 0;
	padding: 15px 0 0;
	position: absolute;
	top: 100%;
	left: 50%;
  transform: translate(-70%, 0%);
	min-width: 340px;
	opacity: 0;
	transition: visibility var(--transition-duration-1) var(--transition-function-linear),
		opacity var(--transition-duration-2);
}

.header__search-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search-wrapper .header__search-trigger {
  flex: 0 0 32px;
}

.header__search-input-wrapper {
  position: relative;
  flex: 1 1 auto;
}

.header__search-input-wrapper .header__search-icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

.header__search-input {
  padding: 12px 15px 15px 43px;
  border: 1px solid var(--color-header-foreground);
  font-size: 16px;
  line-height: var( --line-height-sm);
  color: var(--color-header-foreground);
  background-color: var(--color-header-background);
  min-width: 230px;
  width: 100%;
}

.header__search-input:focus {
  outline: none;
  border-color: var(--color-accent-background);
}

.header__search-input::placeholder {
  color: currentColor;
}

.header__search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--color-primary-foreground);
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  filter: invert(1);
}

.header__search-input:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

.header__search-input:-webkit-autofill,
.header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--color-header-background) !important;
}

.header__search-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: currentColor;
}

.header__search-wrapper .header__search-icon.close {
  margin-left: 8px;
}

.header__search #floating-search:checked ~ .header__search-wrapper {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.header__login {
  text-align: center;
  padding: 30px 0;
  width: 100vw;
}

.header__links .header__login {
  display: none;
}

.header__login .button {
  margin-left: 12px;
}



.header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bq-cart-button__line-count {
  color: var(--color-accent-foreground) !important;
}

.header__cart .booqable-cart-button:not(:empty) + i {
  display: none;
}

.header__cart .bq-icon-cart::before {
  color: var(--color-accent-foreground);
}

.bq-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}



.loaded .header__search-wrapper {
  display: block !important;
}

.resize-active .header__search-wrapper {
  display: none !important;
}

@media (min-width: 576px) {
  .header__search-wrapper {
    left: auto;
    right: 10px;
    transform: translate(0, 0);
  }
}

@media (min-width: 1100px) {
  .header__content--padding-top {
    padding-top: var(--padding-top, 16px);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom, 16px);
  }
}

@media (min-width: 1100px) and (hover: hover) {
  .header__content-inner {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "column-1 column-2 column-3";
    gap: 0px 33px;
  }

  .header-logo-centered .header__content-inner {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas:
      "column-2 column-1 column-3";
  }

  .header-menu-bottom .header__content-inner {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "column-1 column-3"
      "column-2 column-2";
  }

  .header-menu-bottom .header__search-wrapper {
    display: block !important;
    position: static;
    padding: 0;
    width: 100%;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  .header-menu-bottom .header__search-trigger {
    display: none;
  }

  .header-menu-bottom .header__search {
    flex-grow: 1;
    padding: 0 40px 0 20px;
    margin: 0 auto;
    max-width: 640px;
  }

  .header-menu-bottom .header__logo-wrapper {
    padding: 0 0 calc(var(--padding-bottom) - 3px);
  }

  .header-menu-bottom .header__links {
    justify-content: space-between;
    padding: 0 0 var(--padding-bottom);
  }

  .header-menu-bottom .header__nav-wrapper {
    height: auto;
  }

  .header-menu-bottom .header__nav {
    padding-top: 12px;
    position: relative;
  }

  .header-menu-bottom .header__nav:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 9999px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background: var(--color-border-blue-gray);
  }

  .header__login {
    display: none;
    text-align: left;
    padding: 0;
  }

  .header__links .header__login {
    display: flex;
    align-items: center;
  }

  .header__search {
    padding: 0 29px 0 0;
  }

  .resize-active .header-menu-bottom .header__search-wrapper {
    display: block !important;
  }
}
