.hero__wrapper {
  height: 100%;
  color: var(--color-third-foreground, #B2B4B8);
  background: var(--color-primary-foreground, #0B1A26);
  position: relative;
  flex-grow: 1;
}

.hero__container--bottom {
  position: relative;
  padding-top: 16px;
}

.hero__container--bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(50% - 8px);
  background: var(--color-primary-background, #FFFFFF);
}

.hero__container {
  position: relative;
  z-index: 1;
}

.hero__container--padding-top {
  padding-top: var(--padding-top-mobile, 60px);
}

.hero__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 60px);
}

.hero__title {
  color: var(--color-primary-background, #FFFFFF);
  font-size: var(--font-size-h3);
}

.hero__title:only-child {
  margin: 0;
}

.hero__button {
  margin: 20px 0 0;
}

.hero__vision {
  background: var(--color-primary-foreground, #0B1A26);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.hero__vision-wrapper {
  height: 100%;
}

.hero__vision-wrapper-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.hero__vision-wrapper-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5000px;
  right: 50%;
  background: linear-gradient(to right, var(--color-primary-foreground, #0B1A26) 0%, var(--color-primary-foreground, #0B1A26) 90%, var(--color-primary-foreground-00, #0B1A2600) 100%);
}

.hero__vision-wrapper-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(43.14% 157.06% at 17.22% 51.25%, var(--color-primary-foreground, #0B1A26) 0%, var(--color-primary-foreground-00, #0B1A2600) 100%);
}

.hero__image {
  opacity: 0.1;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

.hero__vision-wrapper svg {
  opacity: 0.1;
  min-height: 100%;
}

.hero__vision-wrapper path {
  fill: var(--color-primary-background, #FFFFFF);
}

@media (min-width: 992px) {
  .hero__container--padding-top {
    padding-top: var(--padding-top, 60px);
  }

  .hero__container--padding-bottom {
    padding-bottom: var(--padding-bottom, 60px);
  }
}
