.algorithm {
  color: var(--color-secondary-foreground, #4E5D78);
  font-size: 18px;
  line-height: 1.5;
}

.algorithm__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 80px);
}

.algorithm__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 80px);
}

.algorithm__tag {
  display: inline-block;
  vertical-align: top;
  color: var(--color-accent-background, #F4B841);
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold, 600);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 0 20px;
}

.algorithm__title {
  font-weight: var(--font-weight-bold, 700);
  color: var(--color-primary-foreground, #0B1A26);
  margin-bottom: 16px;
  max-width: 450px;
}

.algorithm__title_bg {
  display: none;
}

.algorithm__list {
  padding: 40px 0 0;
  position: relative;
}

.algorithm__list:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: clamp(180px, 7%, 230px);
  bottom: clamp(200px, 7.6%, 250px);
  z-index: -1;
  background: var(--color-fourth-foreground, #E1E4E8);
}

.algorithm__item {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--color-primary-background, #FFFFFF);
  color: var(--color-primary-foreground, #0B1A26);
  border: 1px solid var(--color-fourth-foreground, #E1E4E8);
  border-top: none;
  overflow: hidden;
}

.algorithm__item:first-child {
  border-top: 1px solid var(--color-fourth-foreground, #E1E4E8);
}

.algorithm__item-col:last-child:not(:only-child) {
  aspect-ratio: 1/1.03;
}

.algorithm__item-col.no-image:after {
  content: "";
  height: 100%;
  display: block;
  background: var(--color-image-placeholder, #0B1A2633);
}

.algorithm__item-col:not(:only-child) .algorithm__text-area {
  border-bottom: 1px solid var(--color-fourth-foreground, #E1E4E8);
}

.algorithm__text-area {
  padding: 16px 16px 30px;
}

.algorithm__index {
  font-size: 46px;
  line-height: 1;
  font-weight: var(--font-weight-medium, 500);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 0 9px;
  min-height: 69px;
  min-width: 69px;
  background: var(--color-accent-background, #F4B841);
}

.algorithm__heading {
  font-size: 40px;
  line-height: 1.2;
}

.algorithm__buttons {
  margin: 30px 0 0;
}

.algorithm .button {
  color: currentColor;
}

.algorithm .button path {
  fill: currentColor;
}

.algorithm__image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .algorithm__top {
    display: flex;
    justify-content: space-between;
    margin: 0 calc(-1 * var(--horizontal-padding, 16px));
  }

  .algorithm__col {
    padding: 0 var(--horizontal-padding, 16px);
  }

  .algorithm__col:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .algorithm__text-area {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .algorithm__list:after {
    top: clamp(150px, 10.5%, 225px);
    bottom: clamp(350px, 19.6%, 425px);;
  }

  .algorithm__item-col:not(:only-child) .algorithm__text-area {
    border-bottom: none;
    border-right: 1px solid var(--color-fourth-foreground, #E1E4E8);
  }

  .algorithm__item {
    display: flex;
    border: 1px solid var(--color-fourth-foreground, #E1E4E8);
    margin: 0 0 40px;
  }

  .algorithm__item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .algorithm__item:nth-child(even) .algorithm__item-col:not(:only-child) .algorithm__text-area {
    border-right: none;
    border-left: 1px solid var(--color-fourth-foreground, #E1E4E8);
  }

  .algorithm__item:last-child {
    margin: 0;
  }

  .algorithm__item-col:not(:only-child) {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .algorithm__wrapper--padding-top {
    padding-top: var(--padding-top, 80px);
  }

  .algorithm__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 80px);
  }

  .algorithm__col {
    width: 50%;
  }

  .algorithm__tag {
    margin: 0 0 16px;
  }

  .algorithm__title_bg {
    pointer-events: none;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 142px;
    line-height: .7;
    text-transform: uppercase;
    opacity: .5;
    color: var(--color-fourth-foreground, #E1E4E8);
    transform: translate(-90px, -2px);
    white-space: nowrap;
  }

  .algorithm__text-area {
    padding: 48px;
  }

  .algorithm__list {
    padding: 80px 0 0;
  }

  .algorithm__item {
    margin: 0 0 80px;
  }

  .algorithm__item:last-child {
    margin: 0;
  }
}
