.menu__opener {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  background: none;
  position: relative;
  cursor: pointer;
}

.menu__opener:before,
.menu__opener:after,
.menu__opener span {
  background: var(--color-header-foreground, #fff);
  position: absolute;
  top: 50%;
  left: 27%;
  right: 27%;
  height: 2px;
  transform: translate(0, -50%);
  transition: all var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu__opener:before,
.menu__opener:after {
  content: "";
  top: 37%;
}

.menu__opener:after {
  top: 63%;
}

.menu__opener:hover span,
.menu__opener:hover:before,
.menu__opener:hover:after {
  background: var(--color-accent-background-hover, #E5AD3D);
}

.menu__opener:active span,
.menu__opener:active:before,
.menu__opener:active:after {
  background: var(--color-accent-background-active, #D6A239);
}

#mobile-menu-trigger:checked ~ .menu__opener span {
  opacity: 0;
}

#mobile-menu-trigger:checked ~ .menu__opener:before,
#mobile-menu-trigger:checked ~ .menu__opener:after {
  transform: rotate(45deg);
  top: 50%;
  left: 23%;
  right: 23%;
}

#mobile-menu-trigger:checked ~ .menu__opener:after {
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  height: calc(100vh - var(--header-height, 104px) + var(--padding-bottom-mobile) + var(--padding-top-mobile));
  top: calc(var(--header-height, 104px));
  width: var(--menu-width);
  left: var(--menu-left);
  right: var(--menu-right);
  bottom: 0;
  max-height: var(--menu-max-height);
  transition: width var(--transition-duration-2) var(--transition-function-ease-out),
    max-height var(--transition-duration-2) var(--transition-function-ease-out);
  overflow: hidden;
  pointer-events: none;
  border-top: 1px solid var(--color-border, #4E5D78);
}

.menu__wrapper {
  background-color: var(--color-header-background);
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: calc(100vh - var(--header-height, 104px) + var(--padding-bottom-mobile) + var(--padding-top-mobile));
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: var(--menu-transform);
  transition: transform var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu__list {
  list-style-type: none;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 8px 20px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  flex: 1 1 auto;
}

.menu__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  margin: 0 var(--horizontal-padding);
  border-bottom: 1px solid var(--color-border, #4E5D78);
  grid-template-areas:
    "item-1 item-2";
}

.menu__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  transition: transform var(--transition-duration-2) var(--transition-function-linear);
}

.menu__link {
  font-size: 18px;
  line-height: var(--line-height-lg);
  color: currentColor;
  padding: 18px var(--horizontal-padding) 13px 0;
  grid-area: item-1;
  z-index: 1;
  position: relative;
}

.menu__link:hover {
  color: var(--color-accent-background-hover, #E5AD3D);
}

.menu__link:active {
  color: var(--color-accent-background-active, #D6A239);
}

.menu__dropdown {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: calc(100vh - var(--header-height, 104px) + var(--padding-bottom-mobile) + var(--padding-top-mobile));
  max-height: var(--menu-max-height);
  margin: 0;
  grid-area: item-3;
  background: var(--color-header-background, #0B1A26);
  transition: width var(--transition-duration-2) var(--transition-function-ease-out);
  overflow: hidden;
  pointer-events: none;
}

.menu__dropdown-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 25px 0;
  background-color: var(--color-header-background);
  overflow: hidden;
  transform: translate(100%, 0);
  transition: transform var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu__dropdown-list {
  /* background-color: var(--color-header-background, #0B1A26); */
  padding: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  list-style: none;
  white-space: nowrap;
  box-shadow: none;
}

.menu__dropdown-item {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding: 0;
  margin: 0 var(--horizontal-padding);
  border-bottom: 1px solid var(--color-border, #4E5D78);
  grid-template-areas:
    "drop-1 item-2";
}

.menu__dropdown-opener {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all var(--transition-duration-2) var(--transition-function-ease-in-out);
  margin-right: -7px;
  font-size: 18px;
  grid-area: item-2;
  position: relative;
  z-index: 1;
}

.menu__dropdown-opener path {
  transition: all var(--transition-duration-2) var(--transition-function-ease-in-out);
}

.menu__dropdown-opener:hover path {
  stroke: var(--color-accent-background-hover, #E5AD3D);
}

.menu__dropdown-opener:active path {
  stroke: var(--color-accent-background-active, #D6A239);
}

.menu__dropdown > .menu__dropdown-wrapper > .menu__dropdown-opener {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--horizontal-padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  font-weight: var(--font-weight-semibold);
}

.menu__dropdown > .menu__dropdown-wrapper > .menu__dropdown-opener .menu__item-icon {
  transform:rotate(90deg);
  margin: 0 10px -1px 0;
}

.menu__dropdown > .menu__dropdown-wrapper > .menu__dropdown-opener:hover {
  color: var(--color-accent-background-hover, #E5AD3D);
}

.menu__dropdown > .menu__dropdown-wrapper > .menu__dropdown-opener:active {
  color: var(--color-accent-background-active, #D6A239);
}

.menu__dropdown-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: var(--line-height-lg);
  color: currentColor;
  padding: 18px var(--horizontal-padding) 13px 0;
  grid-area: drop-1;
}

.menu__dropdown-link:hover {
  color: var(--color-accent-background-hover, #E5AD3D);
}

.menu__dropdown-link:active {
  color: var(--color-accent-background-active, #D6A239);
}

.menu__bottom {
  border-top: 1px solid var(--color-border, #4E5D78);
  width: 100%;
}

.menu__icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 24px 70px;
  color: currentColor;
  max-width: var(--max-width);
  margin: 0 auto;
}

.menu__social {
  font-size: var(--social-size, 21px);
  padding: 0 0 0 16px;
}

.menu__social .social-networks {
  display: flex;
  margin: 0 calc(-1 * var(--social-spacing));
}

.menu__social .social-networks__item {
  margin: 0 var(--social-spacing, 6px);
}

.menu__social .social-networks__link:hover {
  color: var(--color-accent-background-hover, #E5AD3D);
}

.menu__social .social-networks__link:active {
  color: var(--color-accent-background-active, #D6A239);
}

.menu__payments {
  font-size: var(--payment-size, 32px);
}

.menu__payments .payment {
  margin: 0 calc(-1 * var(--payment-spacing));
}

.menu__payments i {
  margin: 0 var(--payment-spacing, 6px);
}

.scrolled .menu {
  top: calc(var(--header-height, 104px) - var(--announcement-bar-height, 32px));
}

#mobile-menu-trigger:checked ~ .menu {
  pointer-events: all;
  z-index: 1;
  max-height: calc(100vh - var(--header-height, 104px) + var(--padding-bottom-mobile) + var(--padding-top-mobile));
  width: 100%;
}

#mobile-menu-trigger:checked ~ .menu .menu__wrapper {
  transform: translate(0, 0);
}

[id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown,
[id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown,
[id^="dropdown-menu-trigger"]:checked ~ .menu__dropdown,
[id*="dropdown-menu-trigger"]:checked ~ .menu__dropdown {
  width: 100%;
  z-index: 2;
  pointer-events: all;
}

[id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper,
[id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper,
[id^="dropdown-menu-trigger"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper,
[id*="dropdown-menu-trigger"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper {
  transform: translate(0, 0);
  padding-left: 8px;
  padding-right: 8px;
}

.menu-top .menu__item {
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-3";
  overflow: hidden;
  border: none;
}

.menu-top .menu__item-icon {
  transform: rotate(0deg);
}

.menu-top .menu__link {
  position: relative;
}

.menu-top .menu__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 60px);
  height: 1px;
  background: var(--color-border, #4E5D78);
}

.menu-top .menu__dropdown {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 0;
  padding: 0 8px;
  overflow-y: auto;
  transition: max-height var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu-top .menu__dropdown-wrapper {
  position: relative;
  width: 100%;
  padding: 10px 0;
  transform: translate(0, -100%);
  transition: transform var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu-top .menu__dropdown-item {
  grid-template-areas:
    "drop-1 item-2"
    "item-3 item-3";
  border: none;
  padding: 0 0 19px;
}

.menu-top .menu__dropdown-item:last-child,
.menu-top .menu__dropdown-link {
  padding: 0;
}

.menu-top [id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown,
.menu-top [id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown,
.menu-top [id^="dropdown-menu-trigger"]:checked ~ .menu__dropdown,
.menu-top [id*="dropdown-menu-trigger"]:checked ~ .menu__dropdown {
  max-height: 2000px;
}

.menu-top [id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper,
.menu-top [id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper,
.menu-top [id^="dropdown-menu-trigger"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper,
.menu-top [id*="dropdown-menu-trigger"]:checked ~ .menu__dropdown > .menu__dropdown-wrapper {
  transform: translate(0, 0);
  padding-left: 0;
  padding-right: 0;
}

.menu-top [id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown-opener .menu__item-icon,
.menu-top [id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown-opener .menu__item-icon,
.menu-top [id^="dropdown-menu-trigger"]:checked ~ .menu__dropdown-opener .menu__item-icon,
.menu-top [id*="dropdown-menu-trigger"]:checked ~ .menu__dropdown-opener .menu__item-icon {
  transform: rotate(180deg);
}

.menu-top [id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown-link,
.menu-top [id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown-link,
.menu-top [id^="dropdown-menu-trigger"]:checked ~ .menu__link,
.menu-top [id*="dropdown-menu-trigger"]:checked ~ .menu__link {
  font-weight: var(--font-weight-semibold, 600);
}

.resize-active #mobile-menu-trigger:checked ~ .menu,
.loaded .menu {
  display: flex !important;
}

.resize-active #mobile-menu-trigger:checked ~ .menu .menu__dropdown,
.loaded .menu__dropdown {
  display: block !important;
}

.resize-active .menu {
  display: none !important;
}

@media (min-width: 1100px) and (hover: hover) {
  .resize-active .menu {
    display: block !important;
  }

  .menu__opener {
    display: none;
  }

  .menu {
    pointer-events: all;
    position: static;
    height: 100%;
    overflow: initial;
    background-color: none;
    transform: translate(0, 0);
    transition: none;
    display: block !important;
    visibility: visible;
    opacity: 1;
  }

  .menu__dropdown-opener {
    width: auto;
    height: auto;
    pointer-events: none;
  }

  .menu__dropdown {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    padding: var(--padding-top, 16px) 0 0 0;
    top: 100%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 250px;
    opacity: 0;
    background: none;
    overflow: initial;
    transform: translate(-50%, 30px);
    transition: visibility var(--transition-duration-1) var(--transition-function-linear),
      opacity var(--transition-duration-2),
      transform var(--transition-duration-2) var(--transition-function-ease-out);
  }

  .menu__dropdown .menu__dropdown {
    top: 0;
    left: 100%;
    padding: 0;
    transform: translate(30px, 0);
  }

  .menu__dropdown > .menu__dropdown-opener {
    display: none;
  }

  .menu__dropdown .menu__item-icon {
    transform:rotate(-90deg);
  }

  .menu__dropdown-list {
    box-shadow: var(--shadow-xs);
  }

  .menu__dropdown-item {
    position: relative;
  }

  .menu__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow: initial;
    height: 100%;
  }

  .menu__link {
    padding: 0;
  }

  .menu__item {
    height: 100%;
    margin: 0 35px 0 0;
    position: relative;
  }

  .menu__item-icon {
    margin-left: 8px;
    transform: rotate(0);
  }

  .menu__item:last-child{
    margin-right: 0;
  }

  .menu__item:hover:after {
    width: 100%;
  }

  .menu__item:hover > .menu__dropdown-opener .menu__item-icon {
    transform: rotate(180deg);
  }

  .menu__item:hover > .menu__dropdown,
  .menu__dropdown-item:hover > .menu__dropdown {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, 0);
  }

  .menu__dropdown-item:hover > .menu__dropdown {
    transform: translate(0, 0);
  }

  .header-menu-bottom .menu__dropdown,
  .header-logo-centered .menu__dropdown {
    left: 0;
    transform: translate(0, 30px);
  }

  .header-menu-bottom .menu__dropdown .menu__dropdown,
  .header-logo-centered .menu__dropdown .menu__dropdown {
    left: 100%;
    transform: translate(30px, 0);
  }

  .header-menu-bottom .menu__item:hover > .menu__dropdown,
  .header-menu-bottom .menu__dropdown-item:hover > .menu__dropdown,
  .header-logo-centered .menu__item:hover > .menu__dropdown,
  .header-logo-centered .menu__dropdown-item:hover > .menu__dropdown {
    transform: translate(0, 0);
  }

  .loaded .menu__dropdown{
    display: block !important;
  }
}
