.menu__opener {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  background: none;
  position: relative;
  cursor: pointer;
}

.menu__opener:before,
.menu__opener:after,
.menu__opener span {
  background: var(--color-white);
  position: absolute;
  top: 50%;
  left: 27%;
  right: 27%;
  height: 2px;
  transform: translate(0, -50%);
  transition: all var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu__opener:before,
.menu__opener:after {
  content: "";
  top: 37%;
}

.menu__opener:after {
  top: 63%;
}

#mobile-menu-trigger:checked ~ .menu__opener span {
  opacity: 0;
}

#mobile-menu-trigger:checked ~ .menu__opener:before,
#mobile-menu-trigger:checked ~ .menu__opener:after {
  transform: rotate(45deg);
  top: 50%;
  left: 23%;
  right: 23%;
}

#mobile-menu-trigger:checked ~ .menu__opener:after {
  transform: rotate(-45deg);
}

#mobile-menu-trigger:checked ~ .menu {
  pointer-events: all;
  z-index: 1;
}

.menu {
  pointer-events: none;
  position: absolute;
  height: calc(100vh - var(--header-height, 104px) + var(--padding-bottom-mobile) + var(--padding-top-mobile));
  overflow: hidden;
  background-color: var(--color-header-background);
  border-top: 1px solid var(--color-border-secondary, #4E5D78);
  transition: height var(--transition-duration-2) var(--transition-function-ease-out),
    width var(--transition-duration-2) var(--transition-function-ease-out);
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__list {
  list-style-type: none;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 8px 20px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  flex: 1 1 auto;
}

.menu__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  margin: 0 var(--horizontal-padding);
  border-bottom: 1px solid var(--color-border-secondary, #4E5D78);
}

.menu__item-icon {
  transition: transform var(--transition-duration-2) var(--transition-function-linear);
}

/* .menu__item:after {
  content: "";
  position: absolute;
  top: calc(100% + var(--padding-top, 16px) - 2px);
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-yellow, #F4B841);
  transition: width var(--transition-duration-2) var(--transition-function-ease-out);
} */

.menu__link {
  font-size: 18px;
  line-height: var(--line-height-lg);
  color: currentColor;
  padding: 18px var(--horizontal-padding) 13px 0;
}

.menu__link:hover {
  color: var(--text-accent-hover, #E5AD3D);
}

.menu__link:hover ~ .menu__dropdown-opener path {
  stroke: var(--background-accent-hover, #E5AD3D);
}

.menu__link:active {
  color: var(--text-accent-active, #D6A239);
}

.menu__link:active ~ .menu__dropdown-opener path {
  stroke: var(--background-accent-hover, #D6A239);
}

.menu__dropdown {
  width: 100%;
  height: calc(100vh - var(--header-height, 104px) - var(--announcement-bar-height, 32px) + var(--padding-bottom-mobile) + var(--padding-top-mobile));
  margin: 0;
  padding: 16px 0;
  position: fixed;
  top: calc(var(--header-height, 104px) + 2px);
  right: 0;
  width: 0;
  overflow-x: hidden;
  background: var(--color-header-background, #0B1A26);
  color: var(--color-header-foreground, #fff);
  transition: height var(--transition-duration-2) var(--transition-function-ease-out),
    width var(--transition-duration-2) var(--transition-function-ease-out);
}

.menu__dropdown-list {
  background-color: var(--color-header-background, #0B1A26);
  padding: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  list-style: none;
  white-space: nowrap;
  box-shadow: none;
}

.menu__dropdown-item {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding: 0;
  margin: 0 var(--horizontal-padding);
  border-bottom: 1px solid var(--color-border-secondary, #4E5D78);
}

.menu__dropdown-opener {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all var(--transition-duration-2) var(--transition-function-ease-in-out);
  margin-right: -7px;
  font-size: 18px;
}

.menu__dropdown-opener path {
  transition: all var(--transition-duration-2) var(--transition-function-ease-in-out);
}

.menu__dropdown-opener:hover path {
  stroke: var(--text-accent-hover, #E5AD3D);
}

.menu__dropdown-opener:active path {
  stroke: var(--text-accent-active, #D6A239);
}

.menu__dropdown > .menu__dropdown-opener {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--horizontal-padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  font-weight: var(--font-weight-semibold);
}

.menu__dropdown > .menu__dropdown-opener .menu__item-icon {
  transform:rotate(90deg);
  margin: 0 10px -1px 0;
}

.menu__dropdown > .menu__dropdown-opener:hover {
  color: var(--text-accent-hover, #E5AD3D);
}

.menu__dropdown > .menu__dropdown-opener:active {
  color: var(--text-accent-active, #D6A239);
}

.menu__dropdown-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: var(--line-height-lg);
  color: currentColor;
  padding: 18px var(--horizontal-padding) 13px 0;
}

.menu__dropdown-link:hover {
  color: var(--text-accent-hover, #E5AD3D);
}

.menu__dropdown-link:hover ~ .menu__dropdown-opener path {
  stroke: var(--background-accent-hover, #E5AD3D);
}

.menu__dropdown-link:active {
  color: var(--text-accent-active, #D6A239);
}

.menu__dropdown-link:active ~ .menu__dropdown-opener path {
  stroke: var(--background-accent-hover, #D6A239);
}

[id^="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown,
[id*="dropdown-childmenu-trigger-"]:checked ~ .menu__dropdown,
[id^="dropdown-menu-trigger"]:checked ~ .menu__dropdown,
[id*="dropdown-menu-trigger"]:checked ~ .menu__dropdown {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  z-index: 1;
}

.menu__bottom {
  border-top: 1px solid var(--color-border-secondary, #4E5D78);
  width: 100vw;
}

.header__icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 24px 70px;
  color: currentColor;
}

.header__social {
  font-size: var(--social-size, 21px);
  padding: 0 0 0 16px;
}

.header__social-list {
  display: flex;
  margin: 0 calc(-1 * var(--social-spacing));
}

.header__social-list .social-networks__item {
  margin: 0 var(--social-spacing, 6px);
}

.social-networks__link:hover {
  color: var(--text-accent, #F4B841);
}

.header__payments {
  font-size: var(--payment-size, 32px);
}

.header__payment {
  margin: 0 calc(-1 * var(--payment-spacing));
}

.header__payments i {
  margin: 0 var(--payment-spacing, 6px);
}

.resize-active #mobile-menu-trigger:checked ~ .menu,
.loaded .menu {
  display: flex !important;
}

.resize-active #mobile-menu-trigger:checked ~ .menu .menu__dropdown,
.loaded .menu__dropdown {
  display: block !important;
}

.resize-active .menu {
  display: none !important;
}

.header__mobile-menu-opener-left .menu__opener {
  margin-left: -8px;
}

.header__mobile-menu-opener-right .menu__opener {
  margin-right: -8px;
}

.mobile-menu-left .menu {
  left: 0;
  width: 0;
}

.mobile-menu-right .menu {
  right: 0;
  width: 0;
}

.mobile-menu-left #mobile-menu-trigger:checked ~ .menu,
.mobile-menu-right #mobile-menu-trigger:checked ~ .menu {
  width: 100%;
}

.mobile-menu-top .menu {
  height: 0;
  left: 0;
  right: 0;
}

.mobile-menu-top #mobile-menu-trigger:checked ~ .menu {
  height: calc(100vh - var(--header-height, 104px) - var(--announcement-bar-height, 32px));
}

.mobile-menu-right .menu__item-icon,
.mobile-menu-left .menu__item-icon {
  transform: rotate(-90deg);
}

@media (min-width: 1100px) and (hover: hover) {
  .resize-active .menu {
    display: block !important;
  }

  .menu__opener {
    display: none;
  }

  .menu {
    pointer-events: all;
    position: static;
    height: 100%;
    overflow: initial;
    background-color: none;
    transform: translate(0, 0);
    transition: none;
    display: block !important;
    visibility: visible;
    opacity: 1;
  }

  .menu__dropdown-opener {
    width: auto;
    height: auto;
    pointer-events: none;
  }

  .menu__dropdown {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    padding: var(--padding-top, 16px) 0 0 0;
    top: 100%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 250px;
    opacity: 0;
    background: none;
    overflow: initial;
    transform: translate(-50%, 30px);
    transition: visibility var(--transition-duration-1) var(--transition-function-linear),
      opacity var(--transition-duration-2),
      transform var(--transition-duration-2) var(--transition-function-ease-out);
  }

  .menu__dropdown .menu__dropdown {
    top: 0;
    left: 100%;
    padding: 0;
    transform: translate(30px, 0);
  }

  .menu__dropdown > .menu__dropdown-opener {
    display: none;
  }

  .menu__dropdown .menu__item-icon {
    transform:rotate(-90deg);
  }

  .menu__dropdown-list {
    box-shadow: var(--shadow-xs);
  }

  .menu__dropdown-item {
    position: relative;
  }

  .menu__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow: initial;
    height: 100%;
  }

  .menu__link {
    padding: 0;
  }

  .menu__item {
    height: 100%;
    margin: 0 35px 0 0;
    position: relative;
  }

  .menu__item-icon {
    margin-left: 8px;
    transform: rotate(0);
  }

  .menu__item:last-child{
    margin-right: 0;
  }

  .menu__item:hover:after {
    width: 100%;
  }

  .menu__item:hover > .menu__dropdown-opener .menu__item-icon {
    transform: rotate(180deg);
  }

  .menu__item:hover > .menu__dropdown,
  .menu__dropdown-item:hover > .menu__dropdown {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, 0);
  }

  .menu__dropdown-item:hover > .menu__dropdown {
    transform: translate(0, 0);
  }

  .header-menu-bottom .menu__dropdown,
  .header-logo-centered .menu__dropdown {
    left: 0;
    transform: translate(0, 30px);
  }

  .header-menu-bottom .menu__dropdown .menu__dropdown,
  .header-logo-centered .menu__dropdown .menu__dropdown {
    left: 100%;
    transform: translate(30px, 0);
  }

  .header-menu-bottom .menu__item:hover > .menu__dropdown,
  .header-menu-bottom .menu__dropdown-item:hover > .menu__dropdown,
  .header-logo-centered .menu__item:hover > .menu__dropdown,
  .header-logo-centered .menu__dropdown-item:hover > .menu__dropdown {
    transform: translate(0, 0);
  }

  .loaded .menu__dropdown{
    display: block !important;
  }
}
