.numbered-blocks {
  color: var(--color-secondary-foreground, #4E5D78);
  font-size: 18px;
  line-height: var(--line-height-lg, 1.5);
}

.numbered-blocks__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 80px);
}

.numbered-blocks__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 80px);
}

.numbered-blocks__list {
  padding: 40px 0 0;
  position: relative;
}

.numbered-blocks__list:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: clamp(180px, 7%, 230px);
  bottom: clamp(200px, 7.6%, 250px);
  z-index: -1;
  background: var(--color-fourth-foreground, #E1E4E8);
}

.numbered-blocks__item {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--color-primary-background, #FFFFFF);
  color: var(--color-primary-foreground, #0B1A26);
  border: 1px solid var(--color-fourth-foreground, #E1E4E8);
  border-top: none;
  overflow: hidden;
}

.numbered-blocks__item:first-child {
  border-top: 1px solid var(--color-fourth-foreground, #E1E4E8);
}

.numbered-blocks__item-col:last-child:not(:only-child) {
  aspect-ratio: 1/1.03;
}

.numbered-blocks__item-col:not(:only-child) .numbered-blocks__text-area {
  border-bottom: 1px solid var(--color-fourth-foreground, #E1E4E8);
}

.numbered-blocks__text-area {
  padding: 16px 16px 30px;
}

.numbered-blocks__index {
  font-size: 46px;
  line-height: var(--line-height-xs, 1);
  font-weight: var(--font-weight-medium, 500);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 0 9px;
  min-height: 69px;
  min-width: 69px;
  background: var(--color-accent-background, #F4B841);
}

.numbered-blocks__heading {
  font-size: 40px;
  line-height: var(--line-height-sm, 1.2);
}

.numbered-blocks__buttons {
  margin: 30px 0 0;
}

.numbered-blocks .button {
  color: currentColor;
}

.numbered-blocks .button path {
  fill: currentColor;
}

.numbered-blocks__image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .numbered-blocks__text-area {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .numbered-blocks__list:after {
    top: clamp(150px, 10.5%, 225px);
    bottom: clamp(350px, 19.6%, 425px);;
  }

  .numbered-blocks__item-col:not(:only-child) .numbered-blocks__text-area {
    border-bottom: none;
    border-right: 1px solid var(--color-fourth-foreground, #E1E4E8);
  }

  .numbered-blocks__item {
    display: flex;
    border: 1px solid var(--color-fourth-foreground, #E1E4E8);
    margin: 0 0 40px;
  }

  .numbered-blocks__item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .numbered-blocks__item:nth-child(even) .numbered-blocks__item-col:not(:only-child) .numbered-blocks__text-area {
    border-right: none;
    border-left: 1px solid var(--color-fourth-foreground, #E1E4E8);
  }

  .numbered-blocks__item:last-child {
    margin: 0;
  }

  .numbered-blocks__item-col:not(:only-child) {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .numbered-blocks__wrapper--padding-top {
    padding-top: var(--padding-top, 80px);
  }

  .numbered-blocks__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 80px);
  }

  .numbered-blocks__text-area {
    padding: 48px;
  }

  .numbered-blocks__list {
    padding: 80px 0 0;
  }

  .numbered-blocks__item {
    margin: 0 0 80px;
  }

  .numbered-blocks__item:last-child {
    margin: 0;
  }
}
