.search__container--padding-top {
  padding-top: var(--padding-top-mobile, 24px);
}

.search__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 24px);
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 18px;
  justify-content: center;
}

.search-results .product-card {
  min-width: auto;
}

@media (min-width: 768px) {
  .search-results {
    justify-content: start;
    gap: 24px;
  }
}

@media (min-width: 992px) {
  .search__container--padding-top {
    padding-top: var(--padding-top, 24px);
  }

  .search__container--padding-bottom {
    padding-bottom: var(--padding-bottom, 24px);
  }

  .search-results {
    gap: 24px;
  }
}

@media (min-width: 1080px) {
  .search-results {
    gap: 20px 32px;
    grid-template-columns: repeat(var(--grid-element, 3), minmax(210px, 1fr));
  }
}
