.title__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 24px);
}

.title__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.title__tag {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold, 600);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 0 20px;
}

.title__title {
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 16px;
  max-width: 460px;
}

.title__bg-text {
  display: none;
  pointer-events: none;
  margin: 0;
  padding: 0 0 0 43px;
  font-size: 100px;
  line-height: .7;
  text-transform: uppercase;
  opacity: .5;
  transform: translate(0, -32px);
  white-space: nowrap;
}

.title__button-show {
  margin: 30px 0 15px;
  width: 100%;
}

.palette-one.title__wrapper {
  background: var(--background-primary, #FFFFFF);
  color: var(--color-third, #0B1A2659);
}

.palette-one .title__tag {
  color: var(--color-outline, #F4B841);
}

.palette-one .title__title {
  color: var(--color-primary, #0B1A26);
}

.palette-one .title__bg-text {
  color: var(--color-fourth, #0B1A2626);
}

.palette-two.title__wrapper {
  background: var(--background-primary-2, #0B1A26);
  color: var(--color-third-2, #FFFFFF59);
}

.palette-two .title__tag {
  color: var(--color-outline-2, #F4B841);
}

.palette-two .title__title {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-two .title__bg-text {
  color: var(--color-fourth-2, #FFFFFF47);
}

@media (min-width: 768px) {
  .title__top {
    display: flex;
    justify-content: space-between;
    margin: 0 calc(-1 * var(--horizontal-padding, 16px));
  }

  .title__col {
    padding: 0 var(--horizontal-padding, 16px);
  }

  .title__col:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .title__button-show {
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    width: auto;
  }
}

@media (min-width: 992px) {
  .title__wrapper--padding-top {
    padding-top: var(--padding-top, 37px);
  }

  .title__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .title__col {
    width: 50%;
  }

  .title__bg-text {
    display: block;
  }
}

@media (min-width: 1100px) {
  .title__tag {
    margin: 0 0 16px;
  }

  .title__bg-text {
    font-size: 142px;
  }

  .title__bg-text:not(:only-child) {
    margin-top: -35px;
  }
}
